<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>A</title>
  </head>
  <body>
    Puppy Name:<%="\n#{@dog.name}"%><br>
    Puppy Breed:<%="\n#{@dog.breed}"%><br>
    Puppy Age:<%="\n#{@dog.age}"%>
  </body>
</html>
